@model Job_Finder.Web.ViewModels.Announcement.VoteValueViewModel

<div class="row">
    <div class="col-md-6">
        <div class="row text-center">
            <h3>
                <span class="glyphicon glyphicon-ok vote-up" aria-hidden="true"></span>
            </h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row text-center" id="vote-value"><span>@Model.Value</span></div>
        <div class="row text-center"><span class="small">votes</span></div>
    </div>

</div>